@model IEnumerable<AdminPanel.Models.Order>
@{
    ViewBag.Title = "Index";
}

<table class="table table-hover">
    <tr>
        <th>
            ID đặt hàng
        </th>
        <th>
            ID khách hàng
        </th>
        <th>
            ID thanh toán
        </th>
        <th>
            iD giao hàng
        </th>
        <th>
            Giảm giá
        </th>
        <th>
            Thuế
        </th>
        <th>
            Tổng số tiền
        </th>
        <th>
            Ngày đặt
        </th>

        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payment.PaymentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingDetail.ShippingID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Taxes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>

            <td>
                @Html.ActionLink("View Details", "Details", new { id = item.OrderID })
            </td>
        </tr>
    }
</table>


